.App,
.routes {
  margin-top: 50px;
}

.badgelinie {
  margin-right: 10px;
  margin-bottom: 10px;
}

.routes-card {
  margin-bottom: 30px;
}

.obj {
  padding-bottom: 50px;
}

.filter {
  margin-right: 5px;
  margin-left: 5px;
}
